obj/
lib/
alire/
config/
scratch/
tests/tests
tests/smoke/bin/
tests/smoke/obj/
tests/smoke/alire/
tests/smoke/config/

# Ignore generated .ads and .adb
*b__*

# Ignore objects, .ali, stderr and stdout
*.o
*.a
*.ali
*.bexch
*.stderr
*.stdout
